<div class="ContenedorFormulario">
    <form class="FormularioGuias">
        <div class="form-group">
            <label for="firstname">Numero De Guia</label><br>
            <input type="text" name="NumeroGuia" class="form-control" ngModel>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="lastname">Estado Requerido</label><br>
            <select name="select">
                <option value="value1">Planillado</option>
                <option value="value2" selected>Devuelto</option>
            </select>
        </div>
        <pre></pre>
        <button class="btn btn-primary" type="submit">Actualizar</button>
    </form>
</div>