<section class="menuContainer">
  <div class="subTitle"><p>Bienvenido: </p><p>Salir </p></div>
  
</section>
<div class="textContainer">
    <div class="Titulo">
      <div class="ImagenInstitucional">
        <img src="./../../../assets/images/image/logo-interrapidisimo-main.svg" alt="Interrapidisimo">
      </div>
      <div class="MenuPrincipal">
        <div class="ServiciosCambiosEstado">
          <a class="CambioEstadoPlanilla" href="/estadoguias">
              <p>Corregir Estado Planilla</p>
          </a>
          <a class="EliminarEstadoPlanilla">
              <p>Eliminar Estado Planilla</p>
          </a>
          <a class="PruebaArchivoEntregada">
              <p>Prueba De Archivo Digitalizada</p>
          </a>
      </div>
      </div>  
    </div>
</div>
